@charset "utf-8";
body, h1, h2, h3, p, dl, dd, ol, ul, th, td, form, fieldset, input, button, textarea {
    margin: 0;
    padding: 0
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, a, textarea, input, button, span, em, strong, img, div {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    outline: none;
}

html {
    -webkit-text-size-adjust: none;
    word-wrap: break-word;
    font-family: Arial, Verdana, Sans-serif
}

/*禁止页面被选中*/
html {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlynot supported by any browser */
}

h1, h2, h3 {
    font-size: 100%
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit
}

fieldset, img {
    border: 0
}

cite, em, s, i, b {
    font-style: normal
}

input, button, textarea, select {
    font-size: 100%;
    border: medium none;
}

body, input, button, textarea, select, option {
    font-size: normal;
}

a, input, textarea {
    text-decoration: none;
    outline: 0
}

li, img, label, input {
    vertical-align: middle
}

var {
    font-style: normal
}

ins {
    text-decoration: none
}

body {
    font-size: .2rem;
}

textarea {
    resize: none
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

html, body {
    height: 100%;
    color: #000000;
}

button {
    outline: none;
    background: none;
}

input {
    box-sizing: content-box;
}

/*清除浮动*/
.clear {
    clear: both
}

/*字体图标库*/
@font-face {
    font-family: "Ionicons";
    src: url(../fonts/ionicons.eot?v=2.0.1);
    src: url(../fonts/ionicons.eot?v=2.0.1#iefix) format("embedded-opentype"),
    url(../fonts/ionicons.ttf?v=2.0.1) format("truetype"),
    url(../fonts/ionicons.woff?v=2.0.1) format("woff"),
    url(../fonts/ionicons.woff) format("woff"),
    url(../fonts/ionicons.svg?v=2.0.1#Ionicons) format("svg");
    font-weight: normal;
    font-style: normal;
}